    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="">We met in college...</h2>
                <p>
		  One day, Denise was working with a classmate on math problem set but decided to go to bed early. The classmate, comparing her answers to Denise's in her absense, found that they had arrived at completely separate results. Knight, a math major, decided to help. It turned out that Denise was very confused about differential equations, and Knight thought that was cute.
                </p>
            </div>
        </div>
    </section>
