<!-- Intro Header -->
<!--<header class="intro" style="background:url({{include.image}}) no-repeat bottom center scroll;"> -->
<header class="intro" style="background:url({{include.image}}) no-repeat bottom center scroll; background-size:cover;">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading {{ include.language }}-header">{{ include.title }}</h1>
          <p class="intro-text">{{ include.description }}<br>
        </div>
      </div>
    </div>
  </div>
</header>
