 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    Denise <div class="nav-and">and</div> Knight
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav {{ include.language }}-nav-bar">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll {% if include.tab == 'about' %}selected-tab{% endif %}" href="/{{include.language}}">{{site.data.nav[include.language]["about"]}}</a>
                    </li>
                    <li>
                        <a class="page-scroll {% if include.tab == 'wedding' %}selected-tab{% endif %}"  href="/{{include.language}}/details/">{{site.data.nav[include.language]["wedding"]}}</a>
                    </li>
		    {% if include.language != 'zh' %}
                    <li>
                        <a class="page-scroll {% if include.tab == 'registry' %}selected-tab{% endif %}" href="/{{include.language}}/registry/">{{site.data.nav[include.language]["registry"]}}</a>
                    </li>
		    {% endif %}
                    <li>
                        <a class="page-scroll {% if include.tab == 'rsvp' %}selected-tab{% endif %}" href="/{{include.language}}/rsvp/">{{site.data.nav[include.language]["rsvp"]}}</a>
                    </li>
		    <!--{% for langhash in site.data.nav %}-->
		    <!--{% assign language = langhash[1] %}-->
                    <!---->
		    <!--{% if langhash[0] != include.language %}-->
		    <!--<li>-->
                      <!--<a class="page-scroll" href="/{{langhash[0]}}">{{language.langname}}</a>-->
		    <!--</li>-->
		    <!--{% endif %}-->
		    <!--{% endfor %}-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
