<!-- Intro Header -->
<!--<header class="intro" style="background:url({{include.image}}) no-repeat bottom center scroll;"> -->
<header class="intro" style="background:url({{include.image}}) no-repeat {{include.valign}} center scroll; background-size:cover;">
  <div class="intro-body">
    <div class="container">
      <div id="poem" class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>贺熹儿和董逸诗喜结连理</h2>
	  <div>
	    <p class="poem-line">
	      麻省理工注良缘，
	    </p>
	    <p class="poem-line">
	      键盘鼠标牵红线。
	    </p>
	    <p class="poem-line">
	      波新干里作鹊桥，
	    </p>
	    <p class="poem-line">
	      数载修结并蒂莲。
	    </p>
	    <p class="poem-line">
	      雀屏中目熹才俊，
	    </p>
	    <p class="poem-line">
	      鸿案齐眉董女妍。
	    </p>
	    <p class="poem-line">
	      琴键和鸣家美满，
	    </p>
	    <p class="poem-line">
	      百年偕老傲神仙。
	    </p>
	  </div>
	  <p>
	    父母敬贺
	  </p>
        </div>
      </div>
    </div>
  </div>
</header>
