<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html language=page.language tab="about" %}
    {% include header.html title=page.title image="/img/looking.jpg"%}
    {% include about.html title=page.storytitle text=page.storytext %}
    {% include header.html title="" image="/img/gallery/EC2A2156.jpg"  %}
    {% include about.html title=page.storytitle2 text=page.storytext2 %}
    {% include gallery.html title=page.gallerytitle %}
    {% include footer.html %}
    {% include js.html %}
    {% include galleryjs.html %}
    </body>
</html>
